<%- include('template/header') %>
<body>
    
    <form action="/send-email" method="POST">
        <h1 id="title"><%= titulo %></h1>
        <div id="container">
        <div id="email">
            <input type="text" placeholder="Email receiver" name="email" />
        </div>
        <div id="content">
            <textarea  placeholder="Email body" name="content"></textarea>
        </div>
        <div id="div_button">
            <button  id = "button" type="submit">Send</button>
        </div>
        </div>
    </form>
  </body>
<%- include('template/footer') %>
</html>