<%- include('template/header') %>
<body>
    <h4>Email succesfully sent to <%= email %></h4>

    <a href="/">
        <button>Go back</button>
     </a>
    
</body>
<%- include('template/footer') %>
</html>